<div>
   <div class="row">
      <h2 class="col-xs-12 "> Shops
         <small class="toolbar pull-right">
            <button class="btn btn-primary toolbar-item" (click)="newShop()">New</button>
         </small>
      </h2>
   </div>
   <div *ngIf="selectedShop" class="fade full-screen" (click)="unSelect()"></div>
   <div *ngIf="selectedShop" class="top-ident full-screen z2 page container-fluid">
      <shop-view [shop]="selectedShop" [tc]="tc" (shopChange) = "onShopChange(event)"></shop-view>
   </div>
   <div class="row">
      <div class="col-xs-12 ">
         <table class="table">
            <thead>
            <tr>
               <th>#</th>
               <th>Name</th>
               <th>Client Name</th>
               <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let shop of shops" >
               <td>{{shop.id}}</td>
               <td (click)="onSelect(shop)">{{shop.name}}</td>
               <td>{{shop.clientName}}</td>
               <td><button class="btn btn-danger btn-xs" (click)="delShop(shop.id)">X</button></td>
            </tr>
            </tbody>
         </table>

      </div>
   </div>
   <messages [messages]="messages" ></messages>
</div>
